.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.input-box {
  margin-bottom: 10px;
}
.input-box input {
  padding: 7.5px 15px;
  width: 100%;
  border: 1px solid #cccccc;
  outline: none;
}
.btn-box {
  margin-top: 30px;
}
.btn-box button {
  width: 100%;
  padding: 7.5px 15px;
  border-radius: 2px;
  background-color: #009999;
  color: #ffffff;
  border: none;
  outline: none;
}
